<footer>
    <div class="is-divider"></div>
    <section class="container footer-margin-bottom">
        <div class="columns">
            <div class="column is-half">
                <p class="subtitle is-6">
                    <a href="//github.com/Shenton"><i class="fab fa-github"></i>&nbsp;GitHub</a>
                    <a href="//discord.gg/DcBQmJ3"><i class="fab fa-discord"></i>&nbsp;Discord</a>
                </p>
            </div>
            <div class="column has-text-right">
                <p>&copy; <%= new Date().getFullYear(); %> shenton.fr</p>
            </div>
        </div>
    </section>
</footer>