<footer>
    <div class="is-divider"></div>
    <nav class="level container footer-margin-bottom">
        <div class="level-left">
            <div class="level-item">
                <p class="subtitle is-6">
                    <a href="//github.com/Shenton"><i class="fab fa-github"></i>&nbsp;GitHub</a>
                </p>
            </div>
            <div class="level-item">
                <p class="subtitle is-6">
                    <a href="//discord.gg/DcBQmJ3"><i class="fab fa-discord"></i>&nbsp;Discord</a>
                </p>
            </div>
        </div>
        <div class="level-right">
            <p>&copy; <%= new Date().getFullYear(); %> shenton.fr</p>
        </div>
    </nav>
</footer>