<section class="container views-margin-top">
    <div class="tile is-ancestor">
        <div class="tile is-vertical is-parent is-4">
            <div class="tile is-child box notification is-primary">
                <div class="content is-large has-text-grey-darker">
                    <h1 class="title">404</h1>
                    <h6 class="subtitle">This is not the page you are looking for.</h6>
                </div>
            </div>
        </div>
        <div class="tile is-parent">
            <div class="tile is-child box notification is-dark">
                <figure class="image is-16by9">
                    <img src="/assets/img/404.jpg">
                </figure>
            </div>
        </div>
    </div>
</section>
<%- contentFor('pageTitle') %>404